$susy: (
  columns: 8,
  container: 1140px,
  global-box-sizing: border-box,
  debug: (image: hide)
);
$minshow: 480px;
$tablet: 600px;
$desktop: 980px;

@include border-box-sizing;
body, html {
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}
.warp {
  @include container();
  padding-left: 2%;
  padding-right: 2%;
  @include breakpoint($tablet) {
    @include show-grid(8);
  }
  @include breakpoint($desktop) {
    @include show-grid(16);
  }
}
.grid {
  @include clearfix;
}
.grid-sizer, .grid-item, {
  @include breakpoint($minshow $tablet, orientation landscape) {
    width: 50%;
  }
  @include susy-breakpoint($tablet, 8) {
    width: 50%;
  }
  @include susy-breakpoint($desktop, 16) {
    width: 25%;
  }
}

.grid-item {
  float: left;
  img {
    display: block;
    max-width: 100%;
  }
}

header {
  padding-left: 2%;
}

figure {
  position: relative;
  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2%;
  }
}
.bio_img {
  width: 100%;
  height: 14em;
  position: relative;
  overflow: hidden;
  background: no-repeat center center;
  background-size: cover;
  &.bio--1 {
    background-image: url(/images/opere/collana_di_gelsomini-63x79_5.jpg);
  }
  &.bio--2 {
    background-image: url(/images/opere/clessidra-80x100.jpg);
  }
  &.bio--3 {
    background-image: url(/images/opere/autoritratto_in_qr_code-42x42-@2x.jpg);
  }
}

.form_contacts {
  label {
    display: block;
  }
  label, textarea, input {
    width: 100%;
  }
}
.site_link {
  @include susy-breakpoint($tablet, 8) {
    @include span(4);
  }
  @include susy-breakpoint($desktop, 16) {
    @include pre(2);
    @include span(6);
  }
}
.form_contacts {
  @include susy-breakpoint($tablet, 8) {
    @include span(4 last);
  }
  @include susy-breakpoint($desktop, 16) {
    @include span(6);
  }
}
.copy {
  @include clearfix ;
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: -2 !important;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
}
