$susy: (
  columns: 8,
  container: 1140px,
  global-box-sizing: border-box,
  debug: (image: show)
);
$tablet: 600px;
$desktop: 980px;
@include border-box-sizing;
body, html {
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}
.warp {
  @include container();
  padding-left: 2%;
  padding-right: 2%;
  @include breakpoint($tablet) {
    @include show-grid(8);
  }
  @include breakpoint($desktop) {
    @include show-grid(16);
  }
}
.grid {
  @include clearfix;
}
.grid-sizer, .grid-item, {
  @include susy-breakpoint($tablet, 8) {
    width: 50%;
  }
  @include susy-breakpoint($desktop, 16) {
    width: 25%;
  }
}
figure {
  position: relative;
  figcaption {
    position: absolute;
    bottom: 10px;
  }
}
.bio_img {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    bottom: -50%;
    top: -50%;
  }
}

.form_contacts {
  label {
    display: block;
  }
  label, textarea, input {
    width: 100%;
  }
}
.site_link {
  @include susy-breakpoint($tablet, 8) {
    @include span(4);
  }
  @include susy-breakpoint($desktop, 16) {
    @include pre(2);
    @include span(6);
  }
}
.form_contacts {
  @include susy-breakpoint($tablet, 8) {
    @include span(4 last);
  }
  @include susy-breakpoint($desktop, 16) {
    @include span(6);
  }
}
.copy {
  @include clearfix ;
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: -2 !important;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
}
