@include border-box-sizing;
body, html, .warp {
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}
.warp {
  @include container();
  padding-left: 2%;
  padding-right: 2%;
  // @include breakpoint($tablet) {
  //   @include show-grid(8);
  // }
  // @include breakpoint($desktop) {
  //   @include show-grid(16);
  // }
  &.bio, &.cont {
    max-width: 960px;
  }


}
section {
  padding-top: 3.5em;
  margin-bottom: 2em;
}
.btn {
  display: inline-block;
  width: 160px;
  padding: 5px 30px;
  @include border-radius($bor-rad);
}
.cover {
  display: table;
  width: 100%;
  height: 100%;
  .bq {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    margin-top: 25%;
    span {
      display: block;
      @include breakpoint(($minshow) (orientation landscape)) {
        display:inline;
      }
      @include susy-breakpoint($desktop) {
        display: block;
      }

    }
  }
  .btn-opere {
    display: block;
    margin: 2em auto 0;
  }
}

.grid {
  @include clearfix;
}
.grid-sizer, .grid-item, {
  // margin: 2%;
  width: 50%;
  @include breakpoint(($minshow $tablet) (orientation landscape)) {
    width: 25%;
  }
  @include susy-breakpoint($tablet, 8) {
    width: 33.333%;
  }
  @include susy-breakpoint($desktop, 16) {
    width: 20%;
    margin: 0;
  }
}

.grid-item {
  float: left;
  img {
    display: block;
    max-width: 100%;
  }
}
.show-opera {
  height: 180px;
  @include transition(height, 1s) ;
}
.show-opera.lets  {
  height: 700px;
  @include susy-breakpoint($desktop, 16) {
    height: 700px;
  }
  @include clearfix;
  p {
    padding: 0;
  }
  .text-wrapper {
    @include susy-breakpoint($desktop, 16) {
      @include span(4 of 16);
    }
  }
  .content {
    height: 480px;
    @include susy-breakpoint($desktop, 16) {
      height: 700px;
      @include span(12 of 16 last);
    }
    img {
      display: block;
      margin: 0 auto;
      padding: 2em;
      max-height: 100%;
    }
  }
}



header {
  position: fixed;
  width: 100%;
  z-index: 3;
  @include breakpoint($tablet) {
      margin-top: 1%;
  }
  h1 {
    float: left;
  }
  .btn {
    float: right;
  }
}

// figure {
//   position: relative;
//   padding: 2% 2% 10%;
//   @include border-radius($bor-rad);
//   @include susy-breakpoint($desktop, 16) {
//     padding: 0;
//     @include border-radius(0);
//   }
//   figcaption {
//     width: 100%;
//     @include susy-breakpoint($desktop, 16) {
//       padding: 0;
//       position: absolute;
//       bottom: 0;
//       opacity: 0;
//       visibility: hidden;
//       @include transition(all, 0.5s);
//     }
//   }
//   &:hover figcaption {
//     opacity: 1;
//     visibility: visible;
//   }
// }
.bio_img {
  width: 100%;
  height: 14em;
  position: relative;
  overflow: hidden;
  background: no-repeat center center;
  background-size: cover;
  &.bio--1 {
    background-image: url(/images/opere/collana_di_gelsomini-63x79_5.jpg);
  }
  &.bio--2 {
    background-image: url(/images/opere/clessidra-80x100.jpg);
  }
  &.bio--3 {
    background-image: url(/images/opere/autoritratto_in_qr_code-42x42.jpg);
  }
}

.form_contacts {
  label {
    display: block;
  }
  label, textarea, input {
    width: 100%;
  }
  textarea {
    height: 150px;
    padding-left: 0.25em;
  }
  input {
    line-height: 2em;
    padding-left: 0.25em;
  }
  .f_name {
    @include susy-breakpoint($tablet, 8) {
      @include span(4);
    }
  }
  .f_mail {
    @include susy-breakpoint($tablet, 8) {
      @include span(4 last);
    }
  }
  .btn {
    width: 100%;
  }
}
.site_link {
  li {
    display: inline-block;
    text-align: center;
    @include span(2 of 8);
    &:nth-child(4n) {
      @include span(2 of 8 last);
    }
    @include susy-breakpoint($desktop, 16) {
      text-align: left;
      display: block;
      float: none;
      &:nth-child(4n) {
        float: none;
      }
    }
  }
  @include susy-breakpoint($tablet, 8) {
    @include span(4);
  }
  @include susy-breakpoint($desktop, 16) {
    @include pre(2);
    @include span(6);
    float: left;
  }
}
.form_contacts {
  @include susy-breakpoint($tablet, 8) {
    @include span(4 last);
  }
  @include susy-breakpoint($desktop, 16) {
    @include span(6);
    @include post(2);
    float: right;
  }
}

.cont {
  background: $warp-back;
  border: 1px solid scale-lightness($warp-back, -20%);
  padding-bottom: gutter();
  @include border-radius(5px);
  .form_contacts {
    @include susy-breakpoint($desktop, 16) {
      @include span(11);
    }
  }
  .contact_cont {
    @include susy-breakpoint($desktop, 16) {
      @include span(4 last);
    }
    h3 {
      padding-bottom: 0.1em;
    }
    p {
      padding-top: 0.2em;
      padding-bottom: 1em;
    }
  }
}



.copy {
  @include clearfix ;
  width: 100%;
}


.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: -2 !important;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
}
