@include establish-baseline;

body {
  font-family: $font_body;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font_heading;
  padding: rhythm(1) 0;
}
h1 {
  @include adjust-font-size-to($h1-fs);
  padding: rhythm(0.2) 0;
  @include breakpoint($tablet) {
    @include adjust-font-size-to($h1-fs * 2);
  }
}
header h1 {
  .show-for-landscape {
    position: absolute;
    @include adjust-font-size-to($h1-fs / 4);
    top: -4%;
    @include susy-breakpoint($minshow) {
      position: inherit;
      font-size: inherit;
    }
  }
  @include breakpoint($tablet) {
    padding: 0 0;
  }
}


.cover {
  display: table;
  padding-top: 4em;
  .tb-cell {
    @include clearfix;
    display: table-cell;
    vertical-align: middle;
    blockquote h2 {
      @include clearfix;
      font-family: $font_body;
      text-align: right;
      padding: 0 ;
      @include breakpoint ($tablet) {
        @include adjust-font-size-to($h2-fs * 2);
        text-align: center;
        font-style: italic;
      }
      span {
        color: $background;
        background: $font-color ;
        max-width: 9em;
        padding: 0 0.25em;
        border-bottom: 0.125em solid $btn-color;
      }
    }
    cite {
      font-family: $font_heading;
      color: $background;
      float: right;
      @include adjust-font-size-to(16px);
      @include breakpoint ($tablet) {
        margin-right: 32%;
      }
    }
  }
}
.d-quot {
  margin-bottom: 0.25em;
  @include breakpoint(($minshow $tablet) (orientation landscape)) {
    @include span(4 of 8);
  }
  &:nth-child(even) {
    @include breakpoint(($minshow $tablet) (orientation landscape)) {
      @include span(4 of 8 last);
      text-align: left;
    }
  }
}
header {
  h1 {
    @include adjust-font-size-to($h1-fs);
    @include breakpoint(($minshow $tablet) (orientation landscape)) {
      padding: 0;
    }
  }
}
h2 {
  @include adjust-font-size-to($h2-fs);
  padding-bottom: 1em;
  font-weight: 900;
}

h3 {
  @include adjust-font-size-to($h3-fs);
}

h4 {
  @include adjust-font-size-to($h4-fs);
}

a {
  @include unstyled-link;
}

ul {
  @include no-bullet;
  padding: 0;
}
p {
  padding: rhythm(1) 0;
  strong {
    font-weight: 900;
    font-style: italic;
  }
}
figcaption {
  h3, p {
    padding: rhythm(0.3);
  }
}

.site_link {
  li {
    @include adjust-font-size-to(18px);
    padding: rhythm(0.25) 0;
    a:hover {
      font-weight: bold;
      color: $btn-color;
    }
  }
}

.btn {
  line-height: 50px;
  text-align: center;
  font-family: $font-body;
  font-weight: bold;
  text-transform: uppercase;
}
