@include establish-baseline;

body {
  font-family: $font_body;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font_heading;
  padding: rhythm(1) 0;
}
h1 {
  @include adjust-font-size-to($h1-fs);
  padding: rhythm(0.2) 0;
  @include breakpoint($tablet) {
    @include adjust-font-size-to($h1-fs * 2);
  }
}
header h1 {
  .show-for-landscape {
    position: absolute;
    @include adjust-font-size-to($h1-fs / 4);
    top: -4%;
    @include susy-breakpoint($minshow) {
      position: inherit;
      font-size: inherit;
    }
  }
  @include breakpoint($tablet) {
    padding: 0 0;
  }
}


.cover {
  display: table;
  .tb-cell {
    display: table-cell;
    height: 5em;
    vertical-align: middle;
    padding: 0;
    h1 {
      color: $background;
      background: $font-color;
      text-align: center;
      width: 9em;
      margin: 1.5em auto;
      border-bottom: 0.2em solid $btn-color;
    }
  }
}
header {
  h1 {
    @include adjust-font-size-to($h1-fs);
  }
}
h2 {
  @include adjust-font-size-to($h2-fs);
  font-weight: 900;
}

h3 {
  @include adjust-font-size-to($h3-fs);
}

h4 {
  @include adjust-font-size-to($h4-fs);
}

a {
  @include unstyled-link;
}

ul {
  @include no-bullet;
  padding: 0;
}
p {
  padding: rhythm(1) 0;
  strong {
    font-weight: 900;
    font-style: italic;
  }
}
figcaption {
  h3, p {
    padding: rhythm(0.3);
  }
}

.site_link {
  li {
    @include adjust-font-size-to(18px);
    padding: rhythm(0.25) 0;
  }
}

.btn {
  line-height: 50px;
  text-align: center;
  font-family: $font-body;
  font-weight: bold;
  text-transform: uppercase;
}

.bq blockquote {
  @include adjust-font-size-to(35px);
  color: $background;
  text-align: right;
  @include text-shadow(2px 2px 5px #444 );
  span {
    font-weight: bold;
    font-style: italic;
  }
  @include breakpoint($tablet) {
    @include adjust-font-size-to(50px);
    text-align: center;
  }
}
