---
title: Sebastian De Gobbis | Biografia
---
<%= partial "header" %>
  <section>
    <article class="">
      <div class="warp">
        <h2>Biografia</h2>
        <hr>
      </div>
      <p class="warp bio">
        Sebastian De Gobbis nato nel 1971 da famiglia veneziana. Ancora adolescente da Venezia si   trasferisce a Verona dove frequenta il Liceo artistico. Negli anni si accosta ad ambienti   artistico     culturali e decide di dedicarsi interamente alla pittura.
      </p>
      <div class="bio_img bio--1">

      </div>
      <p class="warp bio">
        <strong>Dal ‘95 ad oggi cura ed allestisce mostre personali in varie gallerie.</strong>
      </p>
      <p class="warp bio">
        Una raffigurazione autentica ed attuale quella di Sebastian De Gobbis sorretta da un  cromatismo quasi monocolore, un marrone che gioca con le ombre e si ingentilisce con la luce  dei bianchi.  Creando   oltre che lo spazio anche il tempo dell’attualità e dell’esecuzione.  Tendenza fauvistica quella del segno, per cui l’atmosfera gravita di impressioni silenti sino   alla melanconia e,   nel suo disporsi   di interferenze e gradazioni, crea armoniose  configurazioni.
      </p>
      <div class="bio_img bio--2">

      </div>
      <p class="warp bio">
        E’ l’umanità intera , attuale, nei modi e nei sentimenti, che emerge dalla stesura di queste  opere, quele realtà effettiva al di lá della repressa condizione umana. Sebastian De Gobbis   penetra   nell’umano giovanile esponendo una tematica che fa meditare: telefonino, occhiali   firmati, capelli lunghi, anelli, shorts, borse ingombranti, top model mai arrivate. Equilibrio    stilistico e qualitá  coloristica sono costantemente mantenute in ogni sua opera amalgamandosi   alla geografia dei sentimenti, stesure di pieni e vuoti che pongono drammatici silenzi    rivelatori.
      </p>
      <div class="bio_img bio--3"></div>
      <p class="warp bio">
        Una tematica che trova le sue radici nell’attualitá e tende a comunicare il disagio   psicofisico dei tempi di oggi con una corrispondenza tra la posizione rappresentata e la  suggestione della   composizione.
      </p>



    </article>
  </section>
  <%= partial "footer" %>
