---
title: Sebastian De Gobbis | Pittore
---
<%= partial "header" %>

<div class="warp">
  <div id="cover-back"></div>
  <div class="cover">
    <div class="tb-cell">
      <blockquote cite="http://www.artofdavidwalker.com">
        <h2>
          <div class="d-quot">
            <span>A</span>
          </div>
          <div class="d-quot">
            <span>Blank Canvas</span>
          </div>
          <div class="d-quot">
            <span>is a</span>
          </div>
          <div class="d-quot">
            <span>White Flag</span>
          </div>
        </h2>
      </blockquote>
      <cite><em>David Walker</em></cite>
      <%= link_to("Opere", "/opere/", class: "btn btn-opere") %>
    </div>
  </div>
</div>
<!-- <div class="cover">
  <div class="tb-cell">
      <h1>Sebastian De Gobbis</h1>
  </div>
</div> -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url(/images/opere/amazzone-100x100.jpg)">
    </div>
    <div class="swiper-slide" style="background-image:url(/images/opere/codecity-95_5x98.jpg)">
    </div>
    <div class="swiper-slide" style="background-image:url(/images/opere/la_stanza_2-108x96.jpg)">
    </div>
    <div class="swiper-slide" style="background-image:url(/images/opere/clessidra-80x100.jpg)">
    </div>
    <div class="swiper-slide" style="background-image:url(/images/opere/partita_a_scacchi-69x63.jpg)">
    </div>
    <div class="swiper-slide" style="background-image:url(/images/opere/terapia-102x113.jpg)">
    </div>
  </div>
</div>
