---
title: Sebastian De Gobbis | Opere
---
<div id="opera-content">
<%= partial "header" %>
  <article class="warp">
    <h2>Opere</h2>
    <hr>
    <section >
      <p class="highlight">

      </p>
      <div class="content">

      </div>

      <div class="grid">
        <div class="grid-sizer"></div>
        <% data.opere.each do |f| %>
          <% content_tag :div, :class => "grid-item" do %>
            <% link_to 'opere/' + f.opera.to_s + '.html' do %>
              <%= add_image(f[:opera], f[:dimension], "jpg") %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </section>
  </article>
</div>
<%= partial "footer" %>
